body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.card-beranda {
  margin-top: 5px;
  margin-left:auto;
  margin-right:auto;
  display:block;width:200px
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h3 {
  font-weight: bold;
  position: relative;
  margin-bottom: 15px;
}

.heading_container h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 1px;
  height: 65px;
  background-color: #4bc5b8;
  -webkit-transform: translateY(-50%) rotate(20deg);
          transform: translateY(-50%) rotate(20deg);
}

/*header section*/
.hero_area {
  height: 100vh;
  background-color: #b5caee;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .contact_section {
  margin: 75px 0;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 45px 15px 15px;
  color: #ffffff;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  background-color: #133e3f;
}

.custom_nav-container .form-inline {
  padding-top: 30px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-brand h3 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.navbar-brand span {
  font-size: 16px;
  font-weight: bold;
  color: #133e3f;
  margin-top: -10px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

/*end header section*/
.slider_section {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 110px;
}

.slider_section .detail-box h1 {
  font-size: 4rem;
  letter-spacing: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #133e3f;
  border: 1px solid #133e3f;
  color: #ffffff;
  margin-top: 35px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #133e3f;
}

.slider_section #carouselExampleIndicators {
  bottom: 0;
}

.slider_section #carouselExampleIndicators li {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section #carouselExampleIndicators li.active {
  border-color: #133e3f;
}

.special_section .special_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #133e3f;
  padding: 25px;
  border-radius: 10px;
}

.special_section .special_container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.special_section .special_container .box .img-box {
  width: 55px;
  margin-right: 10px;
}

.special_section .special_container .box .img-box img {
  max-width: 100%;
}

.special_section .special_container .box .detail-box a {
  display: inline-block;
  color: #fdda6e;
  text-decoration: underline;
  margin-top: 10px;
}

.special_section .special_container .box.b2 {
  border-left: 1px solid #4e6e6f;
  border-right: 1px solid #4e6e6f;
}

.about_section {
  position: relative;
}

.about_section .side_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
}

.about_section .side_img img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img_container .img-box {
  width: 80%;
}

.about_section .img_container .img-box img {
  width: 100%;
}

.about_section .img_container .img-box.b2 {
  width: 40%;
  margin-top: -25%;
  margin-left: auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #133e3f;
  border: 1px solid #133e3f;
  color: #ffffff;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #133e3f;
}

.course_section {
  position: relative;
}

.course_section .side_img {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 35px;
}

.course_section .side_img img {
  width: 100%;
}

.course_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.course_section .heading_container h3::before {
  left: -2px;
}

.course_section .course_container .course_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course_section .course_container .course_content .box {
  position: relative;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin: 1%;
  border-radius: 10px;
  overflow: hidden;
}

.course_section .course_container .course_content .box img {
  width: 100%;
}

.course_section .course_container .course_content .box a {
  position: absolute;
  left: 35px;
  bottom: 100px;
  background-color: #4bc5b8;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.course_section .course_container .course_content .box a img {
  width: 20px;
}

.course_section .course_container .course_content .box a:hover {
  opacity: .9;
}

.course_section .course_container .course_content .box h5 {
  position: absolute;
  left: 35px;
  bottom: 25px;
  font-weight: bold;
  color: #ffffff;
  font-size: 24px;
}

.course_section .course_container .course_content .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #133e3f;
  opacity: 0.9;
  display: none;
}

.course_section .course_container .course_content .box:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course_section .course_container .course_content .box:hover::before {
  display: block;
}

.course_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.course_section .btn-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #133e3f;
  border: 1px solid #133e3f;
  color: #ffffff;
  margin-top: 45px;
}

.course_section .btn-box a:hover {
  background-color: transparent;
  color: #133e3f;
}

.login_section {
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  color: #ffffff;
}

.login_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_section .detail-box h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.login_section .detail-box a {
  display: inline-block;
  padding: 7px 25px;
  background-color: #4bc5b8;
  border: 1px solid #4bc5b8;
  color: #ffffff;
  margin-top: 15px;
  font-weight: 600;
}

.login_section .detail-box a:hover {
  background-color: transparent;
  color: #4bc5b8;
}

.login_section .login_form {
  padding: 30px 15px;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  border-radius: 15px;
}

.login_section .login_form h5 {
  margin-bottom: 15px;
}

.login_section .login_form form input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
}

.login_section .login_form form button {
  display: inline-block;
  padding: 7px 45px;
  background-color: #252525;
  border: 1px solid #252525;
  color: #ffffff;
  margin-top: 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.login_section .login_form form button:hover {
  background-color: transparent;
  color: #252525;
}

.event_section .heading_container h3 {
  margin-bottom: 0;
}

.event_section .heading_container h3::before {
  left: -2px;
}

.event_section p {
  color: #a4a4a4;
}

.event_section .event_container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cbcbcb;
  margin: 15px 0;
  border-radius: 5px;
}

.event_section .event_container .box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.event_section .event_container .box .img-box img {
  width: 100%;
}

.event_section .event_container .box .detail-box {
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
  padding: 10px 0;
}

.event_section .event_container .box .detail-box h4 {
  font-weight: bold;
}

.event_section .event_container .box .detail-box h6 {
  color: #a4a4a4;
}

.event_section .event_container .box .date-box h3 {
  color: #0b5356;
}

.event_section .event_container .box .date-box h3 span {
  font-size: 1.2em;
  font-weight: bold;
}

.event_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event_section .btn-box a {
  display: inline-block;
  padding: 8px 45px;
  background-color: #133e3f;
  border: 1px solid #133e3f;
  color: #ffffff;
  margin-top: 35px;
}

.event_section .btn-box a:hover {
  background-color: transparent;
  color: #133e3f;
}

.client_section .heading_container {
  margin-bottom: 45px;
}

.client_section .heading_container h3 {
  margin-bottom: 5px;
}

.client_section .heading_container h3::before {
  left: -2px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client_section .box .img-box {
  min-width: 105px;
  margin-right: 25px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.client_section #carouselExampleControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section #carouselExampleControls .carousel-inner {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.client_section #carouselExampleControls .btn-box {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.client_section #carouselExampleControls .btn-box .carousel-control-prev,
.client_section #carouselExampleControls .btn-box .carousel-control-next {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #4bc5b8;
  opacity: 1;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.client_section #carouselExampleControls .btn-box .carousel-control-prev:hover,
.client_section #carouselExampleControls .btn-box .carousel-control-next:hover {
  background-color: #252525;
}

.client_section #carouselExampleControls .btn-box .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.client_section #carouselExampleControls .btn-box .carousel-control-next {
  background-image: url(../images/next.png);
  margin-bottom: 15px;
}

/* contact section */
.contact_section {
  background-color: #164745;
  position: relative;
  margin-bottom: 25px;
}

.contact_section .heading_container h3::before {
  left: -1px;
}

.contact_section::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  height: 100.5%;
  width: 40%;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 95% 0, 65% 100%, 0% 100%);
          clip-path: polygon(0 0, 95% 0, 65% 100%, 0% 100%);
}

.contact_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .detail-box {
  width: 250px;
}

.contact_section .detail-box p {
  margin-top: 5px;
}

.contact_section .contact-form {
  padding: 45px 0;
  border-radius: 20px;
}

.contact_section .contact-form h5 {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.contact_section .contact-form input {
  border: none;
  outline: none;
  background-color: #ffffff;
  width: 100%;
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 30px;
}

.contact_section .contact-form input.input_message {
  height: 105px;
  border-radius: 10px;
}

.contact_section .contact-form input::-webkit-input-placeholder {
  color: #151515;
}

.contact_section .contact-form input:-ms-input-placeholder {
  color: #151515;
}

.contact_section .contact-form input::-ms-input-placeholder {
  color: #151515;
}

.contact_section .contact-form input::placeholder {
  color: #151515;
}

.contact_section .contact-form .tombol{
  border: none;
  outline: none;
  padding: 12px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #4bc5b8;
  color: #fff;
  border-radius: 30px;
}

.contact_section .map_img-box {
  width: 80%;
  margin: 25px auto 0 auto;
}

.contact_section .map_img-box img {
  width: 100%;
}

/* end contact section */
.info_section {
  background-color: #121111;
  color: #ffffff;
}

.info_section h5 {
  text-transform: uppercase;
  font-weight: 600;
}

.info_section .info_menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.info_section .info_news .info_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info_section .info_news .info_contact a {
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_news form {
  margin-top: 15px;
}

.info_section .info_news form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
  background-color: #e0e0e0;
}

.info_section .info_news form input::-webkit-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input:-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::-ms-input-placeholder {
  color: #acaeae;
}

.info_section .info_news form input::placeholder {
  color: #acaeae;
}

.info_section .info_news form button {
  display: inline-block;
  padding: 7px 45px;
  background-color: #4bc5b8;
  border: 1px solid #4bc5b8;
  color: #ffffff;
  margin-top: 15px;
}

.info_section .info_news form button:hover {
  background-color: transparent;
  color: #4bc5b8;
}

/* footer section*/
.footer_section {
  background-color: #121111;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #787878;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba(224, 224, 224, 0.4);
}

.footer_section a {
  color: #787878;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */